@import "../../../app/styles/variables.scss";

$DialogueMessage_body-border-radius: 15px;

.TNUI-DialogueMessage {
    width: 100%;

    display: flex;

    padding-inline: 5px;
    margin-block: 10px;

    &-body {
        width: fit-content;

        max-width: 50%;

        padding: 5px 10px;

        .TNUI-DialogueMessage {
            &-info {
                display: flex;
                align-items: center;
            }

            &-text {
                margin: 0;

                color: white;

                &_changed-alert {
                    color: rgb(255, 255, 255, 0.5);

                    user-select: none;
                }
            }

            &-send-date {
                width: 100%;

                display: flex;

                font-size: 12px;

                user-select: none;
            }

            &-status {
                height: 18px;
                width: 18px;

                display: flex;
                align-items: end;

                font-size: 12px;

                &_success-img {
                    height: 18px;
                    width: 18px;

                    color: $lightestPrimary;
                }

                &_failed-img {
                    height: 16px;
                    width: 16px;

                    color: red; // $lightRed
                }
            }
        }
    }

    //=========== sender style ===========

    &-send-by-user {
        justify-content: flex-end;

        .TNUI-DialogueMessage {
            &-offside-shape {
                border-bottom: 10px solid $primary;
                border-right: 7.5px solid transparent;
                border-bottom-right-radius: 2px;
                border-top-right-radius: 5px;
            }

            &-body {
                background-color: $primary;

                border-top-left-radius: $DialogueMessage_body-border-radius;
                border-top-right-radius: $DialogueMessage_body-border-radius;
                border-bottom-left-radius: $DialogueMessage_body-border-radius;
            }

            &-info {
                flex-direction: row-reverse;
            }

            &-status {
                margin-left: 5px;
            }

            &-send-date {
                color: $lightestPrimary;
            }
        }
    }

    &-send-by-interlocutor {
        justify-content: flex-start;

        .TNUI-DialogueMessage {
            &-offside-shape {
                border-bottom: 10px solid $grey;
                border-left: 7.5px solid transparent;
                border-bottom-left-radius: 2px;
                border-top-right-radius: 5px;
            }

            &-body {
                background-color: $grey;

                border-top-left-radius: $DialogueMessage_body-border-radius;
                border-top-right-radius: $DialogueMessage_body-border-radius;
                border-bottom-right-radius: $DialogueMessage_body-border-radius;
            }

            // &-info {}

            &-status {
                margin-right: 5px;
            }

            &-send-date {
                justify-content: flex-end;

                color: rgb(100, 100, 100);
            }
        }
    }
}
