/*

    Colour theme:
        — White
        — black
        — dark grey 
        — purple

*/

@import "./variables.scss";

// ======================= global mixins =======================

@mixin custom-scrollbar($width, $backgroundColour: $darkGrey, $thumbColour: $grey) {
    &::-webkit-scrollbar {
        background-color: $backgroundColour;
        width: $width;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $thumbColour;

        border-radius: 5px;
    }
}

@mixin inset-custom-scrollbar($width, $backgroundColour: $darkGrey, $thumbColour: $grey) {
    @include custom-scrollbar($width, $backgroundColour, $thumbColour);

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    }
}

// ======================= global styles =======================

* {
    box-sizing: border-box;

    font-family: "Nunito", sans-serif;
    font-family: "Open Sans", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    // NOTE Property below make numbers align uneven, it's problem of 'Raleway' not a bug

    // font-family: "Raleway", sans-serif;
}

body,
html {
    @include inset-custom-scrollbar(15px);

    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.clear-link {
    text-decoration: none;
    color: black;
}

.primary-text {
    color: $lightPrimary;
}

.dark-primary-text {
    color: $primary !important;
}

.bold-text {
    font-weight: 600;
}

.red-text {
    color: red;
}

.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}
