/*

    Colour theme:
        — White
        — black
        — dark grey 
        — purple

*/

@import "./variables.scss";

// ======================= global styles =======================

* {
    box-sizing: border-box;

    font-family: "Nunito", sans-serif;
    font-family: "Open Sans", sans-serif;

    // NOTE Property below make numbers align uneven, it's problem of 'Raleway' not a bug

    // font-family: "Raleway", sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.clear-link {
    text-decoration: none;
    color: black;
}

.primary-text {
    color: $lightPrimary;
}

.bold-text {
    font-weight: 600;
}
