@import "../styles/variables.scss";

@mixin custom-scrollbar($width, $backgroundColour: $darkGrey, $thumbColour: $grey) {
    &::-webkit-scrollbar {
        background-color: $backgroundColour;
        width: $width;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $thumbColour;

        border-radius: 5px;
    }
}

@mixin inset-custom-scrollbar($width, $backgroundColour: $darkGrey, $thumbColour: $grey) {
    @include custom-scrollbar($width, $backgroundColour, $thumbColour);

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    }
}
