$ModalsRootElement_z-index: 1000;

// ======================= COlOURS =======================

$black: #18181b;

// $darkGrey: #1f1f23;
$darkGrey: #232329;

$darkestGrey: #1f1f24;

// $grey: #3a3a47;
$grey: #32323d;

$lightGrey: #4b4b50;

$lightestGrey: #7b7b7c;

$primary: #772ce8;

$darkPrimary: #5c16c5;

// $darkestPrimary: #5014aa;
$darkestPrimary: #4a149b;

$lightPrimary: #9147ff;

$lightestPrimary: #ad79fa;

$primaryTransperant0: #772ce815;

$primaryTransperant1: #772ce834;

$primaryTransperant2: #772ce854;

$primaryTransperant3: #772ce869;

$primaryTransperant4: #772ce88f;

$primaryTransperant5: #772ce8a6;

$lightRed: rgb(244, 67, 54);

$darkCrimson: rgb(136, 64, 64);

$lightPink: rgb(252, 207, 207);

$darkRed: rgb(199, 0, 0);

$lightestGreen: rgb(140, 235, 140);

$darkGreen: rgb(0, 150, 0);
