@import "../../../app/styles/variables.scss";

.TNUI-Header {
    position: fixed;

    width: 100%;
    height: 51px; // 51px cuz this element has border at bottom

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 20px;

    border-bottom: 1px solid $black;

    background-color: $darkGrey;

    z-index: 5;

    .TNUI-Header-left {
        height: 100%;

        display: flex;
        align-items: center;
    }

    .TNUI-Header-right {
        height: 100%;

        display: flex;
        align-items: center;

        .TNUI-Header-signin-button {
            padding: 7px 20px;

            letter-spacing: 2px;
        }
    }
}
