@import "../../../app/styles/variables.scss";

.AuthForm {
    width: 25%;
    min-width: 450px;

    display: flex;
    flex-direction: column;

    padding: 20px 15px 15px;
    margin-inline: 10px;

    &-header {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 5px;

        .AuthForm-header_logo {
            padding-right: 10px;

            border-right: 3px solid white;
        }

        .AuthForm-header_label {
            padding-left: 10px;

            color: white;

            font-size: 36px;

            user-select: none;
        }
    }

    &-form {
        width: 100%;

        &_input {
            width: 100% !important;

            margin-top: 15px;
            margin-bottom: 5px;
        }

        &_sign-up-link {
            margin-top: 20px;

            color: $primary;

            text-decoration: none;

            transition: all 0.2s ease-in-out;

            &:hover {
                color: $lightPrimary;
            }
        }

        &_control {
            width: 100%;

            display: flex;
            justify-content: space-between;

            margin-top: 10px;
        }
    }
}
