@import "../../../../app/styles/variables.scss";
@import "../../../../app/styles/mixins.scss";

.TNUI-ChatExplorer {
    width: 375px;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-right: 1px solid $darkGrey;

    background-color: $black;

    z-index: 15;

    transition: all 0.25s ease-in-out;

    &-content {
        @include custom-scrollbar(5px, $black, rgba(50, 50, 50, 0.25));

        flex-grow: 1;

        padding: 5px;

        overflow-y: scroll;
    }
}

.TNUI-ChatExplorer-closed {
    width: 75px;
}
