@import "../../../../app/styles/variables.scss";

.TNUI-MessagesPage {
    &-no-open-chat-alert {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 50px;

        &_icon {
            width: 50px;
            height: 50px;

            color: $lightPrimary;
        }

        &_label {
            margin-left: 5px;
            margin-bottom: 10px;

            font-size: 24px;

            color: white;

            user-select: none;
        }
    }
}
