@import "../../../../../../app/styles/variables.scss";

.TNUI-SettingsList-item {
    height: 50px;

    &__current {
        background-color: $primaryTransperant3 !important;

        .TNUI-SettingsList-item_img {
            color: $lightestPrimary;
        }
    }

    &_img {
        width: 32.5px !important;
        height: 32.5px !important;

        color: $lightestGrey;
    }

    &_label {
        font-size: 17px;

        margin-bottom: 2.5px;
    }
}
