@import "../../../../app/styles/mixins.scss";
@import "../../../../app/styles/variables.scss";
@import "../../../../app/styles/screen-breakpoints.scss";

.TNUI-ChatBody {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    // background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/422/185/original/purple-square-particle-motion-background-faded-wallpaper-animation-with-black-color-flying-bubble-free-video.jpg");
    // background-image: url("https://www.itl.cat/pngfile/big/0-7316_black-background-full-hd-quality-wallpapers-black-hd.png");
    // background-image: url("https://wallpaperaccess.com/full/1201811.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-content {
        height: calc(100% - 50px);

        display: flex;
        flex-direction: column;
        align-items: center;

        flex-grow: 1;

        margin-inline: 15%;

        background-color: $black;

        // 10px — width of scrollbar
        @media screen and (max-width: 1400px) and (min-width: $pc) {
            margin-right: 10%;
            margin-left: calc(10% + 10px);
        }

        @media screen and (max-width: $pc) {
            margin-right: 0;
            margin-left: 10px;
        }
    }

    &-messages {
        @include custom-scrollbar(10px, transparent, rgba(50, 50, 50, 0.5));

        height: 100%;
        width: 100%;
        min-width: 450px;

        flex-grow: 1;

        display: flex;
        flex-direction: column-reverse;

        overflow-y: scroll;
    }

    &-message-input {
        max-width: 1000px;

        margin-bottom: 5px;

        .TNUI-Message-input-wrapper {
            // 40px — width of send message button (30px) + it's total inline margin (10px)
            width: calc(100% - 40px);
        }
    }

    .TNUI-ChatBody-no-open-chat-alert {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 50px;

        &_icon {
            width: 50px;
            height: 50px;

            color: $lightPrimary;
        }

        &_label {
            margin-left: 5px;
            margin-bottom: 10px;

            font-size: 24px;

            color: white;
        }
    }
}
