/*

    Colour theme:
        — White
        — black
        — dark grey 
        — purple

*/

@import "./variables.scss";

// ======================= global styles =======================

* {
    box-sizing: border-box;

    font-family: "Nunito", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Raleway", sans-serif;
}

body {
    // margin: 0;
    // padding: 0;
}
