/*

    Colour theme:
        — White
        — black
        — dark grey 
        — ...

*/

// ========================= variables =========================

$black: #18181b;
$darkGrey: #1f1f23;
// $hintedGrey: #0e0e10;

// ======================= global styles =======================

* {
    box-sizing: border-box;
}
