@import "../../../../app/styles/variables.scss";

.UserRegistrationForm {
    width: 25%;
    min-width: 450px;

    padding: 20px 15px 15px;
    margin-inline: 10px;

    &-header {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 20px;

        .UserRegistrationForm-header_logo {
            padding-right: 10px;

            border-right: 3px solid white;
        }

        .UserRegistrationForm-header_label {
            padding-left: 10px;

            color: white;

            font-size: 36px;

            user-select: none;
        }
    }

    &-alert {
        margin-bottom: 15px;
    }

    &-input-block {
        display: flex;
        justify-content: space-between;

        .UserRegistrationForm-input {
            margin: 0;

            &:first-child {
                margin-right: 5px;
            }

            &:last-child {
                margin-left: 5px;
            }
        }
    }

    &-input {
        width: 100% !important;
        margin-block: 10px;
    }

    #UserRegistrationForm-password-display-checkbox {
        margin-top: 10px;
    }

    &-note {
        margin: 10px 0 0 0;

        color: white;

        font-size: 11px;
    }

    &-accept-terms {
        margin-top: 10px;
    }

    &-control {
        width: 100%;

        display: flex;
        justify-content: space-between;

        margin-top: 20px;

        &_button {
            padding-inline: 20px;
            text-transform: uppercase;
        }
    }
}
