.TNUI-LoadingPage {
    align-items: center;

    &-loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 150px;

        &_label {
            margin-top: 10px;

            color: white;

            font-size: 22px;

            user-select: none;
        }
    }
}
