@import "../../../../app/styles/variables.scss";

.TNUI-ChatExplorerControl {
    height: 50px;
    width: 100%;

    min-height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-inline: 5px;

    background-color: $darkGrey;

    &-search {
        height: 30px;
        width: 80%;

        display: flex;
        align-items: center;

        padding-inline: 10px;

        border-radius: 15px;

        background-color: $grey;

        &_input {
            width: 100%;
            height: 100%;

            border: none;
            outline: none;

            color: white;
            background-color: transparent;

            font-size: 16px;
        }

        &_icon {
            color: rgb(15, 15, 15, 0.6);
        }
    }

    &-icon {
        height: 30px !important;
        width: 30px !important;

        color: $primary;

        cursor: pointer;
    }

    // =================== minified styles ===================

    &-minified {
        &.TNUI-ChatExplorerControl {
            &-icon {
                margin-left: 100px;
            }
        }
    }
}
