@import "../../../../../../app/styles/variables.scss";

.TNUI-SearchTarget {
    height: 50px;

    &__active {
        background-color: $darkestPrimary !important;
    }

    &-icon {
        height: 35px !important;
        width: 35px !important;

        color: $lightestPrimary;
    }

    &-label {
        margin-bottom: 2.5px;
        font-size: 18px;
    }
}
