@import "../../../../app/styles/variables.scss";

$NavigatorHeaderHeight: 125px;

// TODO transition isn't smooth, it's twitching and looks like has problem with interpolation
@mixin pageListItemOpen() {
    &-img-wrapper {
        width: 50px;
        height: 50px;
    }

    &-label {
        opacity: 1;

        top: 110px;

        transform: scale(100%);
    }
}

.TNUI-NavigatorHeader {
    height: $NavigatorHeaderHeight;
    width: 100%;

    min-height: $NavigatorHeaderHeight;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $darkGrey;

    &-top {
        width: 100%;
        height: $NavigatorHeaderHeight * 0.675; //0.6875

        display: flex;
        align-items: center;

        background-color: $black;

        .TNUI-NavigatorHeader-page-list {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            box-shadow: inset 0px 0px 14px 0px rgba(0, 0, 0, 0.35);

            overflow-x: scroll;
            overflow-y: hidden;

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 0;
                height: 0;
            }

            &_item {
                height: 65px;
                width: 65px;

                margin-inline: 5px;

                // border: 1px dashed red;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                color: white;

                text-decoration: none;

                cursor: pointer;

                &:hover {
                    .TNUI-NavigatorHeader-page-list_item {
                        @include pageListItemOpen();

                        &-img-wrapper {
                            background-color: $grey;
                        }

                        &-label {
                            color: $lightestPrimary;
                        }
                    }
                }

                &.current {
                    .TNUI-NavigatorHeader-page-list_item {
                        @include pageListItemOpen();

                        &-img-wrapper {
                            background-color: $grey;

                            box-shadow: 0px 0px 13px 1px $primaryTransperant3;
                        }

                        &-label {
                            color: $lightPrimary;
                        }
                    }
                }

                &-img-wrapper {
                    width: 60px;
                    height: 60px;

                    border-radius: 100%;

                    background-color: $darkGrey;

                    z-index: 3;

                    transition: all 0.2s ease-in-out;
                }

                &-img {
                    width: 100%;
                    height: 100%;

                    padding: 10px;

                    color: $lightestPrimary;
                }

                &-label {
                    position: absolute;

                    top: 80px;

                    transform: scale(25%);

                    opacity: 0; // ***

                    color: rgba(255, 255, 255, 0.85);

                    font-size: 11px;

                    white-space: normal;

                    z-index: 2;

                    user-select: none;

                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }

    &-bottom {
        width: 100%;
        height: $NavigatorHeaderHeight * 0.325; //0.3125

        display: flex;
        align-items: center;

        padding-inline: 10px;

        .TNUI-NavigatorHeader-search {
            height: 30px;
            width: 100%;

            display: flex;
            align-items: center;

            padding-inline: 10px;

            border-radius: 15px;

            background-color: $grey;

            &_input {
                width: 100%;
                height: 100%;

                border: none;
                outline: none;

                color: white;
                background-color: transparent;

                font-size: 15.5px;

                user-select: none;
            }

            &_icon {
                color: rgb(20, 20, 20, 0.6);
            }
        }

        .TNUI-NavigatorHeader-add-button {
            display: flex;
            align-items: center;

            margin-left: 7.5px;

            padding-block: 3.5px;

            &_icon {
                width: 20px;
                height: 20px;
            }

            &_label {
                // margin-bottom: 2.5px;

                font-size: 13.5px;
            }
        }
    }

    &-icon {
        height: 30px !important;
        width: 30px !important;

        color: $primary;

        cursor: pointer;
    }
}
