@import "../../../app/styles/variables.scss";

.TNUI-Menu {
    width: fit-content;

    display: flex;
    flex-direction: column;

    padding: 0;

    background-color: $darkGrey;

    &-colour-scheme {
        &-black {
            color: black;
        }

        &-white {
            color: white;
        }

        &-primary {
            color: $lightPrimary;
        }
    }
}
