@import "../../../../app/styles/mixins.scss";
@import "../../../../app/styles/variables.scss";
@import "../../../../app/styles/screen-breakpoints.scss";

.TNUI-Chat {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    // background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/422/185/original/purple-square-particle-motion-background-faded-wallpaper-animation-with-black-color-flying-bubble-free-video.jpg");
    // background-image: url("https://www.itl.cat/pngfile/big/0-7316_black-background-full-hd-quality-wallpapers-black-hd.png");
    // background-image: url("https://wallpaperaccess.com/full/1201811.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &-content {
        display: flex;
        flex-direction: column;

        flex-grow: 1;

        margin-inline: 15%;

        background-color: $black;

        @media screen and (max-width: 1400px) and (min-width: $pc) {
            margin-inline: 10%;
        }

        @media screen and (max-width: $pc) {
            margin-inline: 0;
        }
    }

    &-messages {
        @include custom-scrollbar(10px, transparent, rgba(50, 50, 50, 0.5));

        width: 100%;
        min-width: 450px;

        flex-grow: 1;

        display: flex;
        flex-direction: column-reverse;

        overflow-y: scroll;
    }

    &-message-input {
        // height: 75px;

        margin-bottom: 5px;
    }
}
